#experience {
  padding: 96px 0px;
  background-color: #f9fafb;
  h2 {
    margin-bottom: 48px;
  }
}
@media only screen and (max-width: 768px) {
  #experience {
    padding: 64px 0px;
    background-color: #f9fafb;
    h2 {
      margin-bottom: 32px !important;
    }
  }
}
